@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.customScrollBar::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 4px;
  height: 20px;
  display: none;
  transition: all cubic-bezier(0.95, 0.05, 0.795, 0.035) ease-in-out;
}

.customScrollBar:hover::-webkit-scrollbar {
  display: block;
}

.customScrollBar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.customScrollBar::-webkit-scrollbar-thumb {
  background: #8888883c;
  border-radius: 20px;
}

.customScrollBar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "Geist Thin";
  src: url("/fonts/Geist-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geist Light";
  src: url("/fonts/Geist-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geist Regular";
  src: url("/fonts/Geist-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist Medium";
  src: url("/fonts/Geist-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geist Semibold";
  src: url("/fonts/Geist-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Geist Bold";
  src: url("/fonts/Geist-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geist Black";
  src: url("/fonts/Geist-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.spotlight_spotlight__6lNkv {
  background-image: conic-gradient(
    from 0deg at 50% -5%,
    transparent 45%,
    rgba(124, 145, 182, 0.3) 49%,
    rgba(124, 145, 182, 0.5) 50%,
    rgba(124, 145, 182, 0.3) 51%,
    transparent 55%
  );
  border-radius: 9999px;
  filter: blur(25px);
  pointer-events: none;
  transform-origin: 50% 0;
}

@keyframes shine {
  0% {
    background-position: 150%;
  }
  100% {
    background-position: -150%;
  }
}

.shiny-text {
  position: relative;
  display: inline-block;
  background: linear-gradient(
    45deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(255, 255, 255, 0.4);
  animation: shine 4s infinite;
}

.radial {
  background: radial-gradient(
    circle,
    #ffffff4d 20%,
    #ffffff2b 50%,
    #ffffff 100%
  );
}

/* loading animation mobile-tab-desktop START */
@layer utilities {
  @keyframes dot1 {
    3%,
    97% {
      width: 160px;
      height: 100px;
      margin-top: -50px;
      margin-left: -80px;
    }

    30%,
    36% {
      width: 80px;
      height: 120px;
      margin-top: -60px;
      margin-left: -40px;
    }

    63%,
    69% {
      width: 40px;
      height: 80px;
      margin-top: -40px;
      margin-left: -20px;
    }
  }

  @keyframes dot2 {
    3%,
    97% {
      height: 90px;
      width: 150px;
      margin-left: -75px;
      margin-top: -45px;
    }

    30%,
    36% {
      width: 70px;
      height: 96px;
      margin-left: -35px;
      margin-top: -48px;
    }

    63%,
    69% {
      width: 32px;
      height: 60px;
      margin-left: -16px;
      margin-top: -30px;
    }
  }

  @keyframes dot3 {
    3%,
    97% {
      height: 20px;
      width: 40px;
      margin-left: -20px;
      margin-top: 50px;
    }

    30%,
    36% {
      width: 8px;
      height: 8px;
      margin-left: -5px;
      margin-top: 49px;
      border-radius: 8px;
    }

    63%,
    69% {
      width: 16px;
      height: 4px;
      margin-left: -8px;
      margin-top: -37px;
      border-radius: 10px;
    }
  }

  .animate-dot1 {
    animation: dot1 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
  }

  .animate-dot2 {
    animation: dot2 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
  }

  .animate-dot3 {
    animation: dot3 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
  }
}

/* loading animation mobile-tab-desktop STOP */

/* loading animation bounce stepper START */
@layer utilities {
  @keyframes loading-bounce {
    0% {
      transform: scale(1, 0.7);
    }

    40% {
      transform: scale(0.8, 1.2);
    }

    60% {
      transform: scale(1, 1);
    }

    100% {
      bottom: 140px;
    }
  }

  @keyframes loading-step {
    0% {
      box-shadow: 0 10px 0 rgba(0, 0, 0, 0), 0 10px 0 #f2f2f2,
        -35px 50px 0 #f2f2f2, -70px 90px 0 #f2f2f2;
    }

    100% {
      box-shadow: 0 10px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 90px 0 #f2f2f2,
        -70px 90px 0 rgba(0, 0, 0, 0);
    }
  }

  .animate-loading-bounce {
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
  }

  .animate-loading-step {
    animation: loading-step 1s ease-in-out infinite;
  }
}

/* loading animation bounce stepper STOP */

.header {
  text-align: center;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
